<bootstrap-grid>
  <container>
    <row>
      <column sm="6" md="4" lg="3">
        <div class="red block"></div>
      </column>
      <column sm="6" md="4" lg="3">
        <div class="orange block"></div>
      </column>
      <column sm="6" md="4" lg="3">
        <div class="green block"></div>
      </column>
      <column sm="6" md="4" lg="3">
        <div class="blue block"></div>
      </column>
    </row>
    <row>
       <column sm="6" md="8" smPush="3" smPull="3" mdPush="2" mdPull="2">
        <div class="blue block"></div>
      </column>
    </row>
  </container>
</bootstrap-grid>